{% load static %}
<script src="{% static 'typo3conf/ext/cim_base/Resources/Public/JavaScript/app-dev2407.js' %}"></script>
<script src="{% static 'typo3conf/ext/cim_elastic/Resources/Public/JavaScript/countViewsfe64.js' %}"
        async="async"></script>
<script src="{% static 'typo3conf/ext/cim_search_elastic/Resources/Public/JavaScript/List898b.js' %}"></script>
<script src="{% static 'typo3conf/ext/cim_quality/Resources/Public/JavaScript/QualityWidget3170.js' %}"></script>
<script src="{% static 'typo3conf/ext/photoswipe/Resources/Public/JavaScript/photoswipe.min0e9f.js' %}"></script>
<script
        src="{% static 'typo3conf/ext/photoswipe/Resources/Public/JavaScript/photoswipe-ui-default.min0e9f.js' %}"></script>
<script src="{% static 'typo3conf/ext/cim_base/Resources/Public/JavaScript/photoswipe-init8034.js' %}"></script>
<script
        src="{% static 'fileadmin/templates/master/assets/assets_common/js/vendor/what-input.min1d41.js' %}"></script>
<script
        src="{% static 'fileadmin/templates/master/assets/assets_common/js/vendor/foundation.min1d41.js' %}"></script>
<script
        src="{% static 'fileadmin/templates/master/assets/assets_common/js/foundation-datepicker.minf68d.js' %}"></script>
<script
        src="{% static 'fileadmin/templates/master/assets/assets_common/js/foundation-datepicker.fr.minf68d.js' %}"></script>
<script src="{% static 'fileadmin/templates/master/assets/assets_common/js/hunt.min092d.js' %}"></script>
<script src="{% static 'fileadmin/templates/master/assets/assets_common/js/app.min5197.js' %}"></script>
<script src="{% static 'fileadmin/templates/master/assets/assets_site_reims/js/app.min036f.js' %}"></script>
<script src="{% static 'fileadmin/templates/master/assets/assets_common/js/icheck.min50b4.js' %}"></script>
<script src="{% static 'fileadmin/templates/master/assets/assets_common/js/jquery-ui.min3d6c.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js"></script>

<script
        src="{% static 'typo3conf/ext/powermail/Resources/Public/JavaScript/Libraries/jquery.datetimepicker.min9cd0.js' %}"></script>
<script src="{% static 'typo3conf/ext/powermail/Resources/Public/JavaScript/Powermail/Tabs.min9cd0.js' %}"></script>
<script src="{% static 'typo3conf/ext/powermail/Resources/Public/JavaScript/Powermail/Form.min9cd0.js' %}"></script>
<script
        src="{% static 'typo3conf/ext/powermail_cond/Resources/Public/JavaScript/PowermailCondition.min7535.js' %}"></script>
<script src="{% static 'typo3conf/ext/cim_base/Resources/Public/JavaScript/parsley/parsley.min7fde.js' %}"></script>
<script src="{% static 'typo3conf/ext/cim_base/Resources/Public/JavaScript/parsley/frb366.js' %}"></script>
<script defer="defer"
        src="{% static 'fileadmin/templates/master/assets/assets_common/js/slick.min50b4.js' %}"></script>
<script defer="defer"
        src="{% static 'fileadmin/templates/master/assets/assets_common/js/modules/bloc_alaune.min5dc8.js' %}"></script>
<script defer="defer"
        src="{% static 'fileadmin/templates/master/assets/assets_common/js/modules/recherche/placeholderTypewriter.min0c36.js' %}"></script>
<script defer="defer"
        src="{% static 'fileadmin/templates/master/assets/assets_common/js/modules/recherche/section_recherche_decli.min5306.js' %}"></script>
<script defer="defer"
        src="{% static 'fileadmin/templates/master/assets/assets_common/js/modules/bloc_agenda_culturel.mine8bb.js' %}"></script>
<script defer="defer"
        src="{% static 'fileadmin/templates/master/assets/assets_common/js/modules/social_wall_decli.minecbf.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>

<script src="{% static 'js/typed.js' %}" >
</script>
<script src="{% static 'js/app.js' %}" >
</script>